@if (!String.IsNullOrWhiteSpace(Message))
{
    <div class="confirm-modal-message">
        @Message
    </div>
}

<div class="confirm-modal-buttons">
    <button @onclick="Confirm" class="btn btn-success">@ConfirmButtonText</button>
    <button @onclick="Cancel" class="btn btn-danger">@CancelButtonText</button>
</div>

@code {
    [CascadingParameter] 
    BlazoredModalInstance ModalInstance { get; set; }

    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public string ConfirmButtonText { get; set; } = "Confirm";

    [Parameter]
    public string CancelButtonText { get; set; } = "Cancel";

    void Confirm()
    {
        ModalInstance.CloseAsync(ModalResult.Ok($"Confirm"));
    }

    void Cancel()
    {
        ModalInstance.CancelAsync();
    }
}
