@inject SettingsService settings

@if (@showCarousel) 
{
    <div id="promo-carousel" class="carousel slide d-none d-md-block" data-ride="carousel">
        <!-- slide location indicators -->
        <ol class="carousel-indicators">
            <li data-target="#promo-carousel" data-slide-to='0' class="active" ></li>
            <li data-target="#promo-carousel" data-slide-to='1' ></li>
            <li data-target="#promo-carousel" data-slide-to='2' ></li>
        </ol>
        <!-- main carousel images -->
        <div class="carousel-inner">
            <div class="carousel-item carousel-image-1 active">
                <img class="d-block" src="@AssetBaseUrl/promo/carousel-image-delillo.png" alt="">
                <div class="carousel-caption d-none d-md-block text-dark">
                    <NavLink href="/authors/details/5">
                        <button class="my-3 btn btn-outline-dark">View Collection</button>
                    </NavLink>
                </div>
            </div>
            <div class="carousel-item carousel-image-2">
                <img class="d-block" src="@AssetBaseUrl/promo/carousel-image-gibson.png" alt="">
                <div class="carousel-caption d-none d-md-block text-light">
                    <NavLink href="/authors/details/6">
                        <button class="my-3 btn btn-outline-light">View Collection</button>
                    </NavLink>
                </div>
            </div>
            <div class="carousel-item carousel-image-3">
                <NavLink href="/books/category/4">
                    <img class="d-block" src="@AssetBaseUrl/promo/carousel-image-horror.png" alt="">
                    <div class="carousel-caption d-none d-md-block text-light">
                        <button class="my-3 btn btn-outline-light">Click here if you dare!</button>
                    </div>
                </NavLink>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public bool showCarousel { get; set; }

    private string AssetBaseUrl { get; set; }

    protected override void OnInitialized()
    {
        AssetBaseUrl = settings.GetAssetBaseUrl();
    }
}
