@if (@showCarousel) 
{
    <div id="promo-carousel" class="carousel slide d-none d-md-block" data-ride="carousel">
        <!-- slide location indicators -->
        <ol class="carousel-indicators">
            <li data-target="#promo-carousel" data-slide-to='0' class="active" ></li>
            <li data-target="#promo-carousel" data-slide-to='1' ></li>
            <li data-target="#promo-carousel" data-slide-to='2' ></li>
        </ol>
        <!-- main carousel images -->
        <div class="carousel-inner">
            <div class="carousel-item carousel-image-1 active">
                <img class="d-block" src="images/carousel-image-delillo.png" alt="">
                <div class="carousel-caption d-none d-md-block text-dark">
                    <NavLink href="/authors/details/5">
                        <button class="my-3 btn btn-outline-dark">View Collection</button>
                    </NavLink>
                </div>
            </div>
            <div class="carousel-item carousel-image-2">
                <img class="d-block" src="images/carousel-image-gibson.png" alt="">
                <div class="carousel-caption d-none d-md-block text-light">
                    <NavLink href="/authors/details/1">
                        <button class="my-3 btn btn-outline-light">View Collection</button>
                    </NavLink>
                </div>
            </div>
            <div class="carousel-item carousel-image-3">
                <NavLink href="/books?categoryId=7">
                    <img class="d-block" src="images/carousel-image2.png" alt="">
                    <div class="carousel-caption d-none d-md-block text-dark">
                        <h5>Link to the <strong>Horror</strong> category</h5>
                        <p>Clicking anywhere on this slide will take you to the <strong>Horror</strong> category on the books page</p>
                    </div>
                </NavLink>
            </div>
        </div>
        <!-- next/prev controls -->
        @* <a href="#promo-carousel" class="carousel-control-prev" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a href="#promo-carousel" class="carousel-control-next" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a> *@
    </div>
}

@code {

    [Parameter]
    public bool showCarousel { get; set; }

}
