@using Microsoft.AspNetCore.Components.Authorization
@using BookwormsUI.Extensions
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IToastService ToastService
@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        @if (@displayName != null)
        {
            <span>Hi, @displayName</span>
        }
        else 
        {
            <span>&nbsp;</span>
        }
        <a href="logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="register">Register</a>
        <a href="login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private string displayName;

    protected override async Task OnInitializedAsync()
    {
        await GetClaimsPrincipalData();
    }
    
    private async Task GetClaimsPrincipalData()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            ToastService.ShowSuccess("You have logged in successfully", "Logged In");
            displayName = user?.GetDisplayNameFromPrincipal();
        }
        else 
        {
            var logout = NavigationManager.GetQueryString("logout");

            if (logout == "true")
            {
                ToastService.ShowInfo("You have now logged out", "Logged Out");
            }
        }
    }
}
