@using Microsoft.AspNetCore.Components.Authorization
@using BookwormsUI.Extensions
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IToastService ToastService
@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        @if (@displayName != null)
        {
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link">Hi, @displayName</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="account/">Your Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="logout">Log Out</a>
                </li>
            </ul>
        }
        else 
        {
            <span>&nbsp;</span>
        }
    </Authorized>
    <NotAuthorized>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login">Log In</a>
            </li>
        </ul>
    </NotAuthorized>
</AuthorizeView>

@code {
    private string displayName;

    protected override async Task OnInitializedAsync()
    {
        await GetClaimsPrincipalData();
    }
    
    private async Task GetClaimsPrincipalData()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            ToastService.ShowSuccess("You have logged in successfully", "Logged In");
            displayName = user?.GetDisplayNameFromPrincipal();
        }
        else 
        {
            var queryStringParams = NavigationManager.GetQueryStringCollection();

            var logout = queryStringParams["logout"];
            var register = queryStringParams["register"];

            if (logout == "true")
            {
                ToastService.ShowInfo("You have now logged out", "Logged Out");
            }

            if (register == "true")
            {
                ToastService.ShowSuccess("Thanks for registering with Bookworms", "Welcome!");
            }
        }
    }
}
