@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@using BookwormsUI.Extensions
@using System.Linq

@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="4"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fas fa-check-circle"
                InfoIcon="fas fa-info-circle"
                ErrorIcon="fas fa-exclamation-circle" />

<!-- navbar -->
<nav class="navbar navbar-expand-sm navbar-light bg-light" id="upper-nav">
    <div class="container">
        <a class="ml-2 navbar-brand" href="#"><i class="mr-3 fas fa-book-reader"></i>Bookworms Lending Library</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <LoginDisplay />
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-sm navbar-light bg-light" id="lower-nav">
    <div class="container">
        <div class="ml-auto collapse navbar-collapse d-none d-md-block" id="navbarNav2">
            <NavMenu />
            <form class="ml-auto form-inline">
                <ClickSearch />
            </form>
        </div>
    </div>
</nav>

<!-- main body content -->
<main role="main" class="flex-shrink-0">

    <PromoCarousel showCarousel=@showPromoCarousel />

    <div class="container">
        <div class="px-2 py-5 body-content">
            @Body
        </div>
    </div>
    
</main>

<!-- footer -->
<footer id="footer" class="text-white bg-dark">
    <div class="container p-4">
      <div class="row">
        <div class="mb-4 col-lg-6 col-md-12 mb-md-0">
          <h5 class="mb-4">Bookworms Lending Library</h5>
          <p>
            This website was not actually built for a real library (as you've probably guessed!). 
            It was created by David John as a way of exploring Microsoft's Blazor web development framework.
            You can view the project's source code on GitHub from the link to the right.
          </p>
        </div>
        <div class="pl-5 mb-4 col-lg-3 col-md-6 mb-md-0">
          <h5 class="mb-4 text-uppercase">Links</h5>
          <ul class="mb-0 list-unstyled">
            <li>
                <i class="mr-2 fab fa-github"></i> 
                <a href="https://github.com/DavidAJohn/BookwormsLendingLibrary" class="text-white">GitHub source</a>
            </li>
            <li>
                <i class="mr-2 fab fa-microsoft"></i> 
                <a href="https://blazor.net" class="text-white">Blazor.net</a>
            </li>
            <li>
                <i class="mr-2 fas fa-globe"></i>
                <a href="/about" class="text-white">About the Site</a>
            </li>
            <li>
                <i class="mr-2 fas fa-globe"></i>
                <a href="/contact" class="text-white">Contact Me</a>
            </li>
          </ul>
        </div>
        <div class="mb-4 col-lg-3 col-md-6 mb-md-0">
          <h5 class="mb-4 text-uppercase">Social</h5>

          <ul class="list-unstyled">
            <li>
                <i class="mr-2 fab fa-facebook"></i> 
                <a href="https://facebook.com" class="text-white">Facebook</a>
            </li>
            <li>
                <i class="mr-2 fab fa-twitter"></i> 
                <a href="https://twitter.com" class="text-white">Twitter</a>
            </li>
            <li>
                <i class="mr-2 fab fa-instagram"></i> 
                <a href="https://instagram.com" class="text-white">Instagram</a>
            </li>
            <li>
                <i class="mr-2 fab fa-pinterest"></i> 
                <a href="https://pinterest.com" class="text-white">Pinterest</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="p-3 text-center" style="background-color: rgba(0, 0, 0, 0.2);">
      &copy; @currentYear Copyright - Bookworms Lending Library
    </div>
  </footer>

@code {
    private string currentUrl;
    public bool showPromoCarousel = false;
    private string[] urlParts = new string[] {};

    private string currentYear;

    protected override void OnInitialized()
    {
        // set footer copyright year
        DateTime currentDateTime = DateTime.Now;
        currentYear = currentDateTime.Year.ToString();
    }
    
    protected override void OnParametersSet()
    {
        ShowCarousel();
    }

    private void ShowCarousel() 
    {
        currentUrl = navigationManager.Uri;
        
        urlParts = currentUrl.Split('/', StringSplitOptions.RemoveEmptyEntries);
        
        urlParts = urlParts
            .Where((item, index) => index > 1) // strip out the first two elements (http, domain)
            .ToArray();

        // essentially, is there anything left after we strip out the base url?
        // i.e. are we on the home page?
        if (urlParts.Count() == 0)
        {
            showPromoCarousel = true;
        }
        else 
        {
            // there could also be other parameters and chars that we need to ignore
            string[] arrRemoveItems = { "#", "?logout=true", "?register=true" };

            if (urlParts.ContainsInArray(arrRemoveItems))
            {
                showPromoCarousel = true;
            } 
            else 
            {
                showPromoCarousel = false;
            }
        }
    }

}
