<Pagination class="justify-content-center">
    <span class="paging-showing">
        Showing <span class="font-weight-bold"> 
            @(metadata.PageIndex > 1 
            ? (metadata.PageIndex * metadata.PageSize) - (metadata.PageSize - 1)
            : metadata.PageIndex) 
            </span>
        - <span class="font-weight-bold">
            @((metadata.PageSize * metadata.PageIndex) <= metadata.TotalCount 
            ? (metadata.PageSize * metadata.PageIndex) 
            : metadata.TotalCount) 
            </span>
        of <span class="font-weight-bold">
            @metadata.TotalCount
            </span>
    </span>
    @foreach (var link in _links)
    {
        <PaginationItem class=@($"{(link.Enabled ? "" : "disabled")} {(link.Active ? "active" : "")}")>
            <PaginationLink class="pagination-link" @onclick="() => OnSelectedPage(link)">
                @link.Text
            </PaginationLink>
        </PaginationItem>
    }
</Pagination>
