@page "/authors/"

@using BookwormsUI.Components.Paging
@inject IAuthorRepository authorRepository
@inject AuthorService authorService
@inject NavigationManager navigationManager

@if (authors == null)
{
    <LoadingMessage Message="Loading authors..." />
}
else
{
    <div>
        <BreadcrumbHeader CurrentUrl=@CurrentUrl />
    </div>
    <div>
        <Search OnSearchChanged="SearchChanged" ClearSearch=@ClearSearch />
    </div>

    @if (authors.Count() < 1)
    {
        <div>
            <h5>No authors found</h5>
        </div>
        <div>
            <Button Color="Color.Info" @onclick="async () => await ResetSearch()">
                Clear search
            </Button>
        </div>
    }
    else
    {
        <div>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var author in authors)
                    {
                        <tr>
                            <td>@author.FirstName</td>
                            <td>@author.LastName</td>
                            <td>
                                <a class="btn btn-primary" href="/authors/details/@author.Id" >
                                    <i class="fa fa-pencil-alt"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        
        <div>
            <Paging metadata="metadata" Spread="2" SelectedPage="SelectedPage" />
        </div>
    }
}

@code {
    private List<Author> authors;
    private string url;
    private PagingMetadata metadata;
    private ItemParameters itemParams = new ItemParameters();
    private string CurrentUrl;
    private bool ClearSearch = false;

    protected override async Task OnInitializedAsync()
    {
        await SelectedPage();

        // get current url from navigation manager to pass to breadcrumb component
        CurrentUrl = navigationManager.Uri;
    }

    private async Task SelectedPage(int page = 1)
    {
        itemParams.PageIndex = page;

        await GetData();
    }

    private async Task SearchChanged(string searchTerm = "")
    {
        itemParams.PageIndex = 1;
        itemParams.Search = searchTerm;
        
        await GetData();
    }

    private async Task GetData()
    {
        url = authorService.GetAuthorsApiEndpoint();
        var response = await authorRepository.GetAsync(url, itemParams);

        authors = response.Items;
        metadata = response.Metadata;
    }

    private async Task ResetSearch()
    {
        ClearSearch = true;
        await SearchChanged();
    }
}
