@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #000000;
}

a:hover, .btn-link:hover {
    color: #000000;
    cursor: pointer;
}

.text-justify a {
    text-decoration: underline;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.breadcrumb-item a {
    text-decoration: none;
}

::placeholder { 
    color: rgba(0, 0, 0, 0.3) !important;
}

.carousel {
    border-bottom:rgba(0, 0, 0, 0.1) solid 1px;
}

.no-lr-padding {
    padding-left: 0;
    padding-right: 0;
}

/* Blazored.Modal */

.blazored-modal-header {
    padding: 5px;
}

.blazored-modal-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}

.blazored-modal-content {
    padding: 5px;
}

/* Navbar */

.nav-item {
    font-size: 0.75rem;
    text-transform: uppercase;
}

.static-nav-link {
    color:rgba(0, 0, 0, 0.8) !important;
    cursor: default !important;
}

/* books/authors list */

.sidebar-heading {
    background-color: whitesmoke;
    border: rgba(0, 0, 0, 0.1) solid 1px;
    border-radius: 5px;
    padding: 0.5rem;
    margin-right: -30px;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}

ul.list {
    text-align: center;
    list-style-type: none;
    cursor: pointer;
    padding-left: 45px;
}

.list-items {
    text-align: left;
    font-size: 0.8rem;
    font-weight: 500;
    font-style: italic;
    padding-bottom: 5px;
}

.list-items:hover {
    text-decoration: underline !important;
}

.dropdown-button {
    font-size: 0.8rem !important;
    margin-right: -30px;
    margin-top: 0.5rem;
    border: rgba(0, 0, 0, 0.1) solid 1px;
}

.dropdown-item {
    font-size: 0.8rem;
    font-weight: 500;
    font-style: italic;
    padding-top: 0.25rem;
    margin-right: 1rem;
}

.no-results {
    font-size: 1rem;
    font-weight: 500;
    font-style: italic;
    padding-left: 0.8rem;
}

/* home page bookshelves */

.heading-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem 1rem 1rem;
}
    .heading-row h3 {
        margin-bottom: 0;
        font-size: 1.25rem;
        font-style: italic;
    }

img.book-cover {
    width: 100px;
    max-height: 150px;
}

.book-title {
    font-size: 1rem;
    font-weight: 700;
    min-height: 3rem;
    max-height: 3rem;
    overflow: hidden;
}

.book-author {
    font-size: 0.8rem;
    font-style: italic;
    min-height: 1.25rem;
    max-height: 1.25rem;
    overflow: hidden;
    color:rgba(0, 0, 0, 0.6);
}

.book-button {
    width: 30%;
    height: 2rem;
    background-color:rgba(255, 255, 255, 0.7);
    color: rgba(0, 0, 0, 0.5);
    border: rgba(0, 0, 0, 0.3) solid 1px;
}

.book-button-layout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image :hover {
    opacity: 1;
}
    .image :hover button {
        transform: none;
        opacity: 1;
    }
    
.hover-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255,255,255, 0.5);
    opacity: 0;
    transition: all 0.5s;
}
    .hover-overlay button {
        z-index: 1000;
        transition: all 0.5s;
    }

    .hover-overlay button {
        transform: translateY(-50px);
    }

/* login & register screens */

.title-text {
    font-size: 1.6rem;
}

.link-text a {
    font-size: 1rem;
    color: rgba(71, 71, 105, 0.5);
    text-decoration: none;
}

    .link-text a:hover {
        color:slategray;
        text-decoration: none;
    }

/* file uploads */

input[type="file"] {
    visibility: hidden;
}

button.image-picker {
    margin-top: -3rem;
}

.image-preview {
    width: 10rem;
    margin: 1rem 0;
}

    .image-preview img {
        width: 100%;
    }

/* pagination */

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #343a40 !important;
    border-color: #343a40 !important;
}

/* admin section */

.admin-section {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.admin-heading-text {
    font-size: 1.4rem;
    font-weight: 700;
}
