@page "/admin/"

@using BookwormsUI.Components.Auth
@using BookwormsUI.Components.Admin

<AuthGuard RolesAllowed="Administrator" />

<h4 class="mb-5 ml-2">Bookworms Library Admin Dashboard</h4>

<div class="container admin-section">
    <div class="p-2 row">
        <div class="p-3 text-center shadow card bg-light col-md-3 col-lg-3">
            <div class="px-2 card-body">
                <div class="mb-3 admin-heading-text">Registrations</div>
                <div class="mb-3">New registrations allowed (No/Yes)?</div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="allow-registrations" checked=@NewRegistrationsAllowed disabled>
                    <label class="custom-control-label" for="allow-registrations"></label>
                </div>
            </div>
        </div>
        <div class="p-3 text-center shadow card bg-light col-md-8 offset-md-1 col-lg-8">
            <div class="px-2 card-body">
                <div class="mb-3 admin-heading-text">Site Status</div>
                <div class="d-flex flex-direction-row justify-content-between px-4">
                    <SiteStatus />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container admin-section">
    <div class="p-2 row">
        <div class="p-3 text-center shadow card col-md-12 col-lg-12">
            <div class="px-2 card-body">
                <div class="mb-3 admin-heading-text">Book Loans</div>
                <nav id="loans-nav">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-pending-tab" data-toggle="tab" href="#nav-pending" role="tab">
                            Pending
                        </a>
                        <a class="nav-link" id="nav-outstanding-tab" data-toggle="tab" href="#nav-outstanding" role="tab">
                            Outstanding
                        </a>
                        <a class="nav-link" id="nav-overdue-tab" data-toggle="tab" href="#nav-overdue" role="tab">
                            Overdue
                        </a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-pending" role="tabpanel">
                        <ShowLoansByStatus Status="pending" />
                    </div>
                    <div class="tab-pane fade" id="nav-outstanding" role="tabpanel">
                        <ShowLoansByStatus Status="outstanding" />
                    </div>
                    <div class="tab-pane fade" id="nav-overdue" role="tabpanel">
                        <ShowLoansByStatus Status="overdue" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container admin-section">
    <div class="p-2 row">
        <div class="p-3 text-center shadow card bg-light col-md-12 col-lg-12">
            <div class="px-2 card-body">
                <div class="mb-3 admin-heading-text">Site Maintenance</div>
                <div class="maintenance-container">

                    <div class="mb-3 p-4 card bg-light maintenance-subsection">
                        <h5>Books</h5>
                        <div class="mt-2">
                            <NavLink href="/admin/books/add" role="button">
                                <button class="btn btn-outline-dark btn-sm" type="button">
                                    Add a Book
                                </button>
                            </NavLink>
                            <NavLink href="/books/" role="button">
                                <button class="btn btn-outline-dark btn-sm" type="button">
                                    Update a Book
                                </button>
                            </NavLink>
                        </div>
                        <div class="mt-2">
                            <NavLink href="/admin" role="button" >
                                <button class="btn btn-outline-dark btn-sm" type="button" disabled>
                                    De-activate/Re-activate a Book
                                </button>
                            </NavLink>
                        </div>
                    </div>
                    
                    <div class="mb-3 p-4 card bg-light maintenance-subsection">
                        <h5>Authors</h5>
                        <div class="mt-2">
                            <NavLink href="/admin/authors/add" role="button">
                                <button class="btn btn-outline-dark btn-sm" type="button">
                                    Add an Author
                                </button>
                            </NavLink>
                            <NavLink href="/authors/" role="button">
                                <button class="btn btn-outline-dark btn-sm" type="button">
                                    Update an Author
                                </button>
                            </NavLink>
                        </div>
                        <div class="mt-2">
                            <NavLink href="/admin" role="button">
                                <button class="btn btn-outline-dark btn-sm" type="button" disabled>
                                    De-activate/Re-activate an Author
                                </button>
                            </NavLink>
                        </div>
                    </div>

                    <div class="mb-3 p-4 card bg-light maintenance-subsection">
                        <h5>Categories</h5>
                        <div class="mt-2">
                            <NavLink href="/admin/" role="button">
                                <button class="btn btn-outline-dark btn-sm" type="button" disabled>
                                    Add a Category
                                </button>
                            </NavLink>
                            <NavLink href="/admin/" role="button">
                                <button class="btn btn-outline-dark btn-sm" type="button" disabled>
                                    Update a Category
                                </button>
                            </NavLink>
                        </div>
                        <div class="mt-2">
                            <NavLink href="/admin" role="button">
                                <button class="btn btn-outline-dark btn-sm" type="button" disabled>
                                    De-activate/Re-activate a Category
                                </button>
                            </NavLink>
                        </div>
                    </div>
                    
                    <div class="mb-3 p-4 card bg-light maintenance-subsection">
                        <h5>Image Upload Test</h5>
                        <div class="mt-2">
                            <NavLink href="/upload-test/" role="button">
                                <button class="btn btn-outline-dark btn-sm" type="button">
                                    Image Upload Test
                                </button>
                            </NavLink>
                        </div>
                        <div class="mt-2">
                            <NavLink href="/admin" role="button">
                                <button class="btn btn-outline-dark btn-sm" type="button" disabled>
                                    View Orphaned Image Report
                                </button>
                            </NavLink>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Inject]
    public IConfiguration config { get; set; }

    private bool NewRegistrationsAllowed;

    protected override void OnInitialized()
    {
        showNewRegistrationsAllowed();
    }

    private void showNewRegistrationsAllowed()
    {
        NewRegistrationsAllowed = config.GetValue<bool>("AllowNewRegistrations");
    }
}
