.admin-section {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.admin-heading-text {
    font-size: 1.4rem;
    font-weight: 700;
}

a.nav-link {
    color: rgba(0,0,0,0.4);
    background-color: whitesmoke;
    border-color: rgba(0,0,0,0.1);
}

    a.nav-link:hover {
        color: rgba(0,0,0,0.8);
    }

a.nav-link.active {
    /* fix for border-bottom appearing on active tab */
    border-bottom: 1px solid white;
    margin-bottom: -1.1px;
    font-weight: 600;
}

.maintenance-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.maintenance-subsection {
    border: 1px solid rgba(0,0,0,0.1);
}
